<div class="content-about">
  <h2>Sobre mim <span></span></h2>
  <p>
    Olá! Seja bem-vindo! Meu nome é Patrick, sou professor técnico de escola
    profssionalizante do estado do Ceará, no curso de Redes de computadores, sou
    graduado em Tecnologia em Telemática pelo IFCE e em Análise e
    Desenvolvimento de Sistemas pela estácio, sou ainda pós-graduado em
    Desenvolvimento FullStack pelo IGTI, além de professor trabalho também com
    desenvolvimento de software, em projetos pessoais e em projetos de empresas
    da cidade onde resido e em cidades vizinhas.
  </p>
  <p>Trabalho com algumas tecnologias como:</p>
  <ul>
    <li>Java</li>
    <li>JavaScript</li>
    <li>Node.Js</li>
    <li>TypeScript</li>
    <li>React</li>
    <li>Angular</li>
  </ul>
</div>
