<div class="content-about">
  <div class="content-about-title">
    <h2>Contate-nos</h2>
  </div>
  <div class="content-about-form">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" />

    <label for="email">Email:</label>
    <input type="email" id="email" />

    <label for="telefone">Telefone:</label>
    <input type="tel" id="telefone" />

    <label for="msg">Mensagem:</label>
    <textarea name="menssagem" id="msg" cols="30" rows="10"></textarea>
  </div>
  <div class="content-about-buttons">
    <button>Enviar</button>
    <a [routerLink]="['/']">Voltar para a Home</a>
  </div>
</div>
