<div class="content-title">
  <div class="content-title-image">
    <img
      src="https://avatars.githubusercontent.com/u/6487480?v=4"
      alt="Foto Perfil"
    />
  </div>
  <div class="content-title-info">
    <h1>Patrick Alcântara</h1>
    <p>Desenvolvedor FullStack</p>
    <ul>
      <li>
        <a href="https://github.com/patrickalcantara" target="_blank">
          <img src="../../../assets/images/github.svg" alt="" />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/patrick-alc%C3%A2ntara-dimas/"
          target="_blank"
        >
          <img src="../../../assets/images/linkedin.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="mailto:patrickalcantara214@gmail.com">
          <img src="../../../assets/images/gmail.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
